<p>Welcome to Blabber.</p>

<% if current_user %>
  <p>You are currently logged in as <%= current_user.username %> |
  <a href='/logout'>Logout</a></p>
<% else %>
  <p>You are not currently signed in.</p>
  <p><a href='/login'>Login</a> | <a href='/signup'>Signup</a></p>
<% end %>

<p><a href='/blabs/new'>Blab!</a> | <a href='/blabs'>See Blabs</a>
| <a href='/users'>Users</a></p>
